.subtitle
{
	text-align: center;
	color: grey;
}
.title-header
{
	color: black;
	text-align: center;
	letter-spacing: 2px;
	text-shadow: 3px 3px 10px black;
}
.artistic-placeholder
{
	position: absolute;
	height: 40%;
	width: 100%;
}
.UI-container
{
	position: absolute;
	margin: 0;
	height: 25%;
	width: 100%;
	top: 60%;
}
.ui-buttons
{
	position: relative;
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
